<%= turbo_frame_tag "new_comment" do %>
<div>
  <%= form_with model: @comment do |f| %>
    <%= f.text_area :content, placeholder: "What did you think?" %>
    <%= f.hidden_field :post_id, value: @post.id %>
    <%= f.submit "Comment" %>
  <% end %>
</div>
<% end %>
