<h1><%= @user.profile.name %></h1>

<% if current_user.friends?(@user)%>
<div class="city">Lives in <%= @user.profile.city %></div>
<div class="birthday">Born <%= @user.profile.birthday.strftime('%B %-d, %Y') %></div>

<h2>Recent Posts</h2>
<%= render @posts %>

<% else %>
<p>You must be friends with <%= @user.profile.name %> to see their profile.</p>

<%= form_with url: friend_requests_path, method: :post do |form| %>
  <%= form.hidden_field :recipient_id, value: @user.id %>
  <%= form.submit "Send Friend Request" %>
<% end %>

<% end %>