<h1><%= @user.profile.name %></h1>

<% if (@friendship && @friendship.accepted) || (@user == current_user) %>
<%= render "profiles/profile", locals: {user: @user} %>

<% unless @user == current_user %>
<%= form_with url: friend_request_path(@friendship), method: :delete do |form| %>
  <%= form.submit "Delete Friend" %>
<% end %>
<% end %>

<h2>Recent Posts</h2>
<%= render @posts %>

<% elsif current_user.pending_received_requests.include?(@user) %>
<p><%= @user.profile.name %> sent you a friend request.</p>
<%= form_with url: friend_request_path(@friendship), method: :patch do |form| %>
  <%= form.submit "Accept Friend Request" %>
<% end %>

<% else %>
<p>You must be friends with <%= @user.profile.name %> to see their profile.</p>

<%= form_with url: friend_requests_path, method: :post do |form| %>
  <%= form.hidden_field :recipient_id, value: @user.id %>
  <%= form.submit "Send Friend Request" %>
<% end %>

<% end %>