<div class="card mt-3">
  <div class="card-header d-flex">
    <span class="me-auto"><%= post.user.profile.name %></span>
    <span><%= post.created_at.strftime('%B %-d, %Y %l:%M %p') %></span>
  </div>
  <div class="card-body">
    <div class="card-text">
      <p><%= post.content %></p>
    </div>
  </div>
  
  <div class="card-footer d-flex">
    <i class="bi bi-heart mx-2"></i>
    <i class="bi bi-chat mx-2"></i>
    <% if post.user == current_user %>
    <span class="owner-tools ms-auto">
      <%= link_to post_path(post), data: {"turbo-method": :delete} do %><i class="bi bi-trash"></i><% end %>
    </span>
    <% end %>
  </div>

<% post.comments.each do |c| %>
  <div class="card-body">
    <%= c.user.profile.name %>: <%= c.content %>
  </div>
<% end %>

</div>