<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%# <%= stylesheet_link_tag "application.bootstrap", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% unless %w[registrations sessions].include?(controller.controller_name) %><%= render "layouts/navbar" %><% end %>

    <%# Flash messages for Devise %>
    <% if notice %>
      <div class="notice container alert alert-info mt-2 alert-dismissible fade show">
        <button class="btn-close" data-bs-dismiss="alert"></button>
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="container mt-2 alert alert-warning alert-dismissible fade show">
        <button class="btn-close" data-bs-dismiss="alert"></button>
        <%= alert %>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>
